@font-face {
    font-family: Fragmentcore;
    src: url('../fonts/Fragmentcore.otf');
 }
body{
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: Fragmentcore;
    letter-spacing: 2pt;
}
a{
    text-decoration: none;
    color: rgb(0, 255, 0);
}
ul{
    list-style-type: none;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(131, 131, 131, 0.445);
    align-items: center;
    margin: 0;
    padding: 0;
}
header div{
    margin: 0;
    padding: 0;
    /* background-color: yellowgreen */
}
header h1{
    font-size: 19pt;
    /* background-color: antiquewhite; */
    margin: 0;
    padding: 0;
    text-align: center;
}
header h1 a{
    display: block;
    padding: 10px 0;
    /* background-color: brown; */
}
header h1 a:hover{
    color: rgba(0, 255, 0, 0.83);
}
header nav{
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header nav .navbarmobile{
    /* background-color: black; */
    display: none;
    text-align: center;
    font-size: 18pt;
    line-height: 5px;
    padding: 10px;
}

header nav .navbarmobile:hover{
    cursor: pointer;
}
header nav ul{
    display: flex;
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    justify-content: center;


}
header nav ul li{
    list-style-type: none;
    /* background-color: yellow; */
}

header nav ul li a{
    /* background-color: rgb(255, 0, 0); */
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 5px;
    display: block;
    font-size: 12pt;
}
header nav ul li a:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, 0.253);
    color: #fff;
}
.container{
    /* background-color: blanchedalmond; */
}
#SobreMim{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 13pt;
    margin-top: 20px;
    /* background-color: aquamarine; */
}
#SobreMim article{
    padding: 10px;
    text-indent: 13pt;
}
#SobreMim article a{
    padding: 10px;
    border: 1px solid rgb(0, 255, 0);
    box-shadow: 1px 1px 1px rgb(0, 255, 0);
    float: right;
    background-color: rgba(83, 87, 83, 0.253);
}
#SobreMim article a:hover{
    background-color: rgba(0, 255, 0, 0.253);
    color: #fff ;
}
/* ---------------------- Topicos -------------------- */
#Topicos{
    /* background-color: rgb(255, 102, 0); */
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#Topicos >div {
    /* background-color: blue; */
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}
#Topicos >div h2{
    /* background-color: blueviolet; */
    margin: 0;
    padding: 0;
}
#Topicos >div div{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 0;
}
#Topicos >div div div{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    padding: 0;
    margin-left: 15px;

}
#Topicos >div h3{
    margin: 0;
    padding: 0;
    font-size: 18pt;
    color: yellow;
}
#Topicos >div div div ul{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* max-height: 80px; */
    /* background-color: yellowgreen; */
    width: auto;
    margin: 0;
    padding: 0;
    justify-content: start;
}
#Topicos >div div div ul li{
    width: auto;
    /* background-color: brown; */
    margin: 0;
    padding: 5px;
    color: #fff;
    /* text-indent: 13pt; */
}
#Trabalhos{
    /* background-color: antiquewhite; */
    min-height: 250px;
    padding: 0;
    margin: 0;
    align-items: flex-end;
}
#Trabalhos h2{
    /* background-color: antiquewhite; */
    /* display: block; */
    width: 100%;
    text-align: right;
}
#Trabalhos ul{
    margin: 0;
    padding: 0;
    /* background-color: brown; */
    display: flex;
    justify-content:  space-around;
    flex-wrap: wrap;
    /* width: 70%; */
}
#Trabalhos li{
    /* width: 150px; */
    height: 200px;
    margin: 5px 0 0 0;
    /* background-color: aquamarine; */
    padding: 5px;
}
#Trabalhos li a{
    /* background-color: blueviolet; */
    width: 100%;
    padding: 0;
    margin: 0;
}
#Trabalhos figure{
    background-color: rgba(0, 255, 255, 0.212);
    width: 100%;
    height: 100%;
    margin: 0;
}
#Trabalhos figure img{
    width: 100%;
}
@media screen and (max-width: 850px){
    header nav{
        align-items: flex-end;
    }
    header nav ul{
        display: none;
    }
    header nav .navbarmobile{
        display: block;
        /* background-color: aqua; */
    }
}
